* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy-Medium;
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(./fonts/FontsFree-Net-Gilroy-Bold.ttf);
  font-family: Gilroy-Medium;
  src: url(./fonts/FontsFree-Net-Gilroy2.ttf);
}

.header {
  width: 100%;
  height: 324px;
  background-image: url(./assets/Back-Images.png);
  background-position: center;
  object-fit: contain;
  position: relative;
}

.navbar {
  width: 98%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  margin-top: 56px;
  align-items: center;
}

.navbar-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  margin-left: 3rem;
}

.logo {
  font-family: Gilroy-Bold;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  z-index: 3;
}

.menu {
  width: 252px;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border: 0.97px solid;
  border-radius: 8px;
  padding-top: 14.622833251953125px;
  padding-right: 5px;
  padding-bottom: 11.425151824951172px;
  border: 0.97px solid;
  transform: rotate(0);

  border-image-source: linear-gradient(
    169.15deg,
    rgba(15, 247, 240, 0.4) 0%,
    rgba(214, 134, 255, 0.4) 96.79%
  );
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);

  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.16),
    rgba(255, 255, 255, 0.16)
  );

  position: relative;
}

.submenu,
.select,
.option {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  cursor: default;
}

.select {
  display: flex;
  gap: 10px;
  align-items: center;
}

.down-arrow {
  top: 10px;
  right: 12px;
  position: absolute;
}

.arrow {
  border: solid rgba(255, 255, 255, 1);
  border-width: 0 1.6px 1.6px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
}

.options {
  width: 67px;
  height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 6.4rem;
  top: 3.4rem;
  right: 0rem;
  position: fixed;
  border-radius: 6.977209568023682px;
  border: 0.84px solid;

  border-image-source: linear-gradient(
    169.15deg,
    rgba(15, 247, 240, 0.4) 0%,
    rgba(214, 134, 255, 0.4) 96.79%
  );
  background: linear-gradient(
    183.12deg,
    rgba(255, 255, 255, 0.16),
    rgba(255, 255, 255, 0.16)
  );
  cursor: default;
}

.navbar-right {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  margin-left: 16rem;
}

.watchlist,
.signin {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;

  display: flex;
  color: rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  border: 0.97px solid;
  border-radius: 8px;
  transform: rotate(0);

  padding: 14px 26px 11px 26px;
  align-items: center;
  gap: 13px;

  border-image-source: linear-gradient(
    169.15deg,
    rgba(15, 247, 240, 0.4) 0%,
    rgba(214, 134, 255, 0.4) 96.79%
  );
  background: linear-gradient(
    183.12deg,
    rgba(255, 255, 255, 0.16),
    rgba(255, 255, 255, 0.16)
  );
}

.badge {
  width: 10px;
  height: 10px;
  border-radius: 12.5px;
  transform: rotate(0);
  background: rgba(226, 77, 77, 1);
  box-shadow: -1.2999999523162842px 1.2999999523162842px 4px 0px
    rgba(248, 0, 0, 0.4);
}

.watchlist {
  position: relative;
}

.watchlist:hover,
.signin:hover {
  background: linear-gradient(
      169.15deg,
      rgba(15, 247, 240, 0.4) 0%,
      rgba(214, 134, 255, 0.4) 96.79%
    ),
    radial-gradient(
      100% 100% at 0% 0%,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  cursor: default;
}

.watchlists {
  position: absolute;
  top: 4.3rem;
  right: 7rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
  z-index: 1;

  border-radius: 6.977209568023682px;
  border: 0.8436933159828186px;
  transform: rotate(0);

  background: linear-gradient(
    169.15deg,
    rgba(255, 255, 255, 0.16),
    rgba(255, 255, 255, 0.16)
  );
  box-shadow: -2.1092333793640137px -2.1092333793640137px 105.46166229248047px 0px
    rgba(255, 255, 255, 0.02) inset;
}

.watchlist-item {
  display: flex;
  background: rgba(31, 31, 31, 1);
  border-radius: 3px;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.watchlist-item-photo > a > img {
  width: 95px;
}

.watchlist-item-name {
  font-family: Gilroy-Bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.delete {
  font-size: 9px;
  color: white;
  margin: 0 12px 0 35px;
}

.delete-vector1 {
  transform: rotate(45deg) translate(0.45em, 0.5em);
}
.delete-vector2 {
  transform: rotate(135deg) translate(-0.3em, 0.35em);
}

.exit {
  position: fixed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: -0.9rem;
  right: -0.6rem;
  color: white;
  text-align: center;
  background-color: black;
  background: linear-gradient(
    169.15deg,
    rgba(255, 255, 255, 0.16),
    rgba(255, 255, 255, 0.16)
  );
  box-shadow: -1.1487524509429932px -1.1487524509429932px 57.43762969970703px 0px
    rgba(255, 255, 255, 0.02) inset;
}

.exit-vector1 {
  font-size: 11px;
  transform: rotate(45deg) translate(0.4em, 0.3em);
}

.exit-vector2 {
  font-size: 11px;
  transform: rotate(135deg) translate(-0.5em, 0.35em);
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.movies,
.movies2 {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 4rem;
  transition: transform 0.3s ease;
}

.movie-item {
  display: flex;
  flex-direction: column;
  width: 250px;
  border-radius: 8px;
  border: 1px solid;
  transition: transform 0.3s ease;
  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  margin-bottom: 20px;
}

.movie-item:hover {
  transform: scale(1.2);
}

.movie-item-photo > a > img {
  width: 100%;
}

.movie-item-name {
  display: flex;
  justify-content: space-around;
  font-family: Gilroy-Bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin: 15px 0;
}

.movie-item-name > div {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}

.reaction-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.like-button,
.play-button,
.dislike-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  padding: 8.5263671875px 7.6754913330078125px 6.8209991455078125px 7.671875px;
  border-radius: 50%;
  border: 0.8248103260993958px solid white;
  transform: rotate(0);

  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );

  box-shadow: -2.062026023864746px -2.062026023864746px 103.10130310058594px 0px
    rgba(255, 255, 255, 0.02) inset;
}

.dislike-button {
  position: relative;
}

.dislike-vector {
  color: white;
  font-size: 21px;
  position: absolute;
  transform: rotate(134deg) translate(-0.07em, 0.07em);
}

.like-button:hover,
.play-button:hover,
.dislike-button:hover {
  background: radial-gradient(100% 100% at 0% 0%, #0cf9f0 0%, #d686ff 100%);
}

.prev-button,
.next-button,
.prev-button2,
.next-button2 {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
}

.prev-button,
.prev-button2 {
  left: 0;
}

.next-button,
.next-button2 {
  right: 0;
}

.slider,
.slider2 {
  display: flex;
  justify-content: left;
  position: relative;
  max-width: 900px;
  overflow: hidden;
  margin-bottom: 3rem;
}

.form {
  cursor: default;
  width: 500px;
  position: absolute;
  top: 30px;
  left: 26%;
  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: -2.418426275253296px -2.418426275253296px 120.92131805419922px 0px
    rgba(255, 255, 255, 0.02) inset;
  border-radius: 30px;
  transform: rotate(0deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
  gap: 20px;
}

.form-title {
  font-family: Gilroy-Bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-top: 20px;
}

.form-question {
  font-family: Gilroy-Bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.li-pair {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.li-pair > label {
  font-family: Gilroy-Bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.email,
.pass {
  color: #757575;
  display: flex;
  width: 370px;
  height: 52px;
  border-radius: 10px;
  border: 1px solid;
  border-image-source: linear-gradient(180deg, #0ff7f0 0%, #d685ff 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(0deg, #0d0d0d, #0d0d0d),
    linear-gradient(180deg, #0ff7f0 0%, #d685ff 100%);
  border-image: linear-gradient(180deg, #0ff7f0 0%, #d685ff 100%);
  border-image-slice: 1;
  padding: 10px 15px;
}

.email:focus,
.pass:focus {
  outline: none;
}

.li-pair > span {
  font-family: Gilroy-Medium;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: right;
  color: rgba(255, 255, 255, 1);
}

.form-buttons {
  width: 72%;
  display: flex;
  justify-content: space-around;
}

.signin-button,
.signup-button {
  padding: 10px 35px;
  border-radius: 55px;
  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1.33px solid;

  border-image-source: linear-gradient(
    169.15deg,
    rgba(15, 247, 240, 0.4) 0%,
    rgba(214, 134, 255, 0.4) 96.79%
  );
  box-shadow: -3.325335741043091px -3.325335741043091px 166.2667999267578px 0px rgba(
      255,
      255,
      255,
      0.02
    ) inset;

  font-family: Gilroy-Medium;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);

  box-shadow: 2.75px 2.75px 13.75px 0px rgba(0, 0, 0, 0.25);
}

.policy {
  width: 311px;
  font-family: Gilroy-Medium;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}

.form-exit {
  position: fixed;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  top: -0.9rem;
  right: -0.6rem;
  color: white;
  text-align: center;
  background-color: black;
  background: linear-gradient(
    169.15deg,
    rgba(255, 255, 255, 0.16),
    rgba(255, 255, 255, 0.16)
  );
  box-shadow: -1.1487524509429932px -1.1487524509429932px 57.43762969970703px 0px
    rgba(255, 255, 255, 0.02) inset;
}

.form-exit-vector1 {
  font-size: 23px;
  transform: rotate(45deg) translate(0.2em, 0.1em);
}

.form-exit-vector2 {
  font-size: 23px;
  transform: rotate(135deg) translate(-0.65em, 0.55em);
}

.signin-button:hover,
.signup-button:hover {
  background: linear-gradient(
    169.15deg,
    rgba(15, 247, 240, 0.4) 0%,
    rgba(214, 134, 255, 0.4) 96.79%
  );
}

.blurlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(73 71 71 / 57%);
  backdrop-filter: blur(8px);
  pointer-events: none;
  z-index: 3;
}

/* Burger menu */

.burger {
  width: 2em;
  height: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  display: none;
}

.burger-bar {
  width: 1.7em;
  height: 0.165em;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.5em;
}

.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.45em, 0.5em);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.3em, 0.35em);
  transition: ease-out 0.5s;
}

.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.menu-container {
  position: absolute;
  display: flex;
  background-color: black;
  width: 245px;
  height: 100vh;
  z-index: 2;
}

.menu.active {
  display: flex;
  z-index: 3;
  flex-direction: column;
  background: none;
  top: 7rem;
  right: 12rem;
  gap: 20px;
}

.menu.active .down-arrow {
  top: 48.7px;
  top: 48.7px;
  right: 103px;
  position: absolute;
  width: 15px;
  padding-left: 5px;
}

.menu.active .options {
  background: none;
  right: 4.8rem;
  top: 4.6rem;
}

.menu.active .option {
  border-bottom: 1px solid white;
  padding: 3px 19px;
}

@media (max-width: 947px) {
  .slider,
  .slider2 {
    max-width: 745px;
  }
  .movie-item {
    width: 200px;
  }
  .navbar-right {
    margin-left: 2rem;
  }
  .next-button,
  .prev-button,
  .next-button2,
  .prev-button2 {
    width: 65px;
    height: 65px;
  }
}

@media (max-width: 834px) {
  .slider,
  .slider2 {
    max-width: 550px;
  }
  .movie-item {
    width: 180px;
  }

  .next-button,
  .prev-button,
  .next-button2,
  .prev-button2 {
    width: 55px;
    height: 55px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    width: 94%;
    margin-left: 14px;
  }

  .menu {
    display: none;
  }

  .navbar-right {
    display: none;
  }

  .burger {
    display: flex;
  }
}

@media (max-width: 582px) {
  .slider,
  .slider2 {
    max-width: 320px;
  }
  .movie-item {
    width: 120px;
  }

  .next-button,
  .prev-button,
  .next-button2,
  .prev-button2 {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }

  .navbar {
    justify-content: space-between;
    margin: 3rem 0rem;
  }

  .movie-item-name {
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .movie-item-name > div {
    font-size: 8px;
  }

  .reaction-buttons >div {
    width: 25px;
    height: 25px;
  }

  .like-svg >svg , .play-svg >svg{
    width: 10px;
    height: 10px;
  } 

  .dislike-vector{
    font-size: 10px;
  }
}

@media (max-width: 435px) {
  .logo {
    font-size: 20px;
    margin-left: 2em;
  }
  .burger {
    width: 1.2em;
    height: 1em;
  }
  .burger-bar {
    width: 1.2em;
  }
  .burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.2em, 0.3em);
  }
  .navbar-left {
    gap: 0;
    margin-left: 0rem;
  }

  .menu.active {
    position: relative;
    right: 9rem;
  }
}

@media (max-width: 378px) {
  .slider,
  .slider2 {
    max-width: 200px;
  }
  .movie-item {
    width: 120px;
  }

  .next-button,
  .prev-button,
  .next-button2,
  .prev-button2 {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }

  .navbar {
    width: 90%;
  }

  .menu.active > div {
    font-size: 12px;
  }
  .burger{
    margin-left: -3rem;
  }
}
